@{
    ViewBag.Title = "Image";
    Layout = "~/Views/Shared/projectMaster.cshtml";
}


 <div class="conatiner-fluid" style="background-color: black;">
     
            <div class="row">
                 <div class="col-md-12" style="margin-top:200px">
           <center><b style="font-family:'Game Of Squids'; color:rgb(255, 106, 0); font-size:40px;" class="service">IMAGE GALLERY</b></center>
            
         </div>
                <div class="col-md-1"></div>
                <div class="col-md-4" style="min-height: 800px;">
                <div class="row">
                    <div class="col-md-12 imggallery" style="min-height: 780px;margin-top: 15px;" data-aos="fade-down">
                    <img src="~/Content/images/graham-mansfield-9faBzIlnV14-unsplash.jpg" style="height: 765px; width: 100%;">
                    </div>
                </div>
                </div>
                   <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 imggallery" style="min-height: 375px;margin-top: 15px;" data-aos="fade-left" >
                            <img src="~/Content/images/service2.jpg" style="height: 375px;width: 100%;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 imggallery" style="min-height: 375px; margin-top: 15px;" data-aos="fade-right">
                            <img src="~/Content/images/yogaslide1.jpg" style="height: 375px;width: 100%;">
                        </div>
                    </div>
                   </div>
                <div class="col-md-1"></div>
            
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 imggallery" style="min-height: 375px;margin-top: 15px;" data-aos="fade-left" >
                            <img src="~/Content/images/yogaslider1.jpg" style="height: 375px;width: 100%;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 imggallery" style="min-height: 375px; margin-top: 15px;" data-aos="fade-right">
                            <img src="~/Content/images/service.jpg" style="height: 375px;width: 100%;">
                        </div>
                    </div>
                   </div>
                   <div class="col-md-4" style="min-height: 800px;">
                    <div class="row">
                        <div class="col-md-12 imggallery" style="min-height: 780px;margin-top: 15px;" data-aos="fade-down">
                        <img src="~/Content/images/reg4.jpg" style="height: 765px; width: 100%;">
                        </div>
                    </div>
                    </div>
                    <div class="col-md-1"></div>
            </div>
        
      
    </div>
    