@{
    ViewBag.Title = "SignUP";
    Layout = "~/Views/Shared/projectMaster.cshtml";
}

 <div class="container">
        <div class="row" style="min-height: 800px;">
        <div class="col-md-1" style="min-height: 800px;"></div>
        <div class="col-md-10" style="min-height: 800px;">
        <div class="row" style="min-height: 700px; box-shadow: 5px 5px 15px black; margin-top: 170px;">
               <div class="col-md-6" style="min-height: 600px;">
                <div class="row" style="margin-top: 50px; margin-left: 10%;"><b style="font-size: 30px; font-family: sans-serif; background-color: transparent;min-height:70px;">Sign up</b></div>
                <div class="row" id="row" style="min-height: 70px;"><span class="fa fa-user" id="icon"></span><input type="text" id="input" placeholder="John Doe"></div>
                <div class="row" id="row" style="min-height: 70px;"><span class="fa fa-envelope" id="icon"></span><input type="email" id="input" placeholder="Enter Email"></div>
                <div class="row" id="row" style="min-height: 70px;"><span class="fa fa-lock" id="icon"></span><input type="password" id="input" placeholder="Password"></div>
                <div class="row" id="row" style="min-height: 70px;"><span class="fa fa-lock " style="color: brown;" id="icon"></span><input type="password" id="input" placeholder="Confirm Password"></div>
                <div class="row" id="row"><input type="checkbox" style="margin-left: 10%;">&nbsp;&nbsp;&nbsp; I agree all statements in Terms of service</div>
                <div class="row" id="row" style="min-height: 50px;"><input type="submit" value="Register" style="border-radius: 10px; color: white; width: 30%;margin-left: 10%;" class="btn btn-primary"></div>
               
               </div>
        <div class="col-md-6" style="min-height: 700px;">
                <img src="~/Content/images/signup.png" style="height: 300px; width: 80%; margin-top: 200px;">
            <div class="row" style="min-height:50px; margin-top:50px; margin-left:3%;"><b>Alredy have an account ? <a href="#" style="text-decoration:none; font-size:17px; font-family:Georgia;">LogIn</a></b>
            </div>
        </div>
            
        </div>
        </div>
        <div class="col-md-1" style="min-height: 700px;"></div>
        </div>
        </div>
