@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/projectMaster.cshtml";
}

 <div class="conatiner-fluid" style="background-color: black;">
     
            <div class="row">
                 <div class="col-md-12" style="margin-top:200px">
           <center><b style="font-family:'Game Of Squids'; color:rgb(255, 106, 0); font-size:40px;" class="service">VIDEO GALLERY</b></center>
            
         </div>
               
    <div class="row" style="min-height: 800px;">
    <div class="col-md-12">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3" style="min-height: 500px;margin-left: 6%;" id="plans">
            <video src="~/Content/videos/yoga1.mp4" controls type="video/mp4" style="height: 200px;">
       
                <source src="~/Content/videos/yoga1.mp4" type="video/mp4">
             </video>
            
          </div>
          <div class="col-md-3"  style="min-height: 500px;margin-left: 6%;" id="plans">
            <video src="~/Content/videos/yoga2.mp4" controls type="video/mp4" style="height: 200px;">
       
                <source src="~/Content/videos/yoga2.mp4" type="video/mp4">
             </video>
          </div>
          <div class="col-md-3"  style="min-height: 500px;margin-left: 6%;" id="plans">
            <video src="~/Content/videos/yoga3.mp4" controls type="video/mp4" style="height: 200px;">
       
                <source src="~/Content/videos/yoga3.mp4" type="video/mp4">
             </video>
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3" style="min-height: 500px;margin-left: 3%;" id="plans">
            <video src="~/Content/videos/nutrition1.mp4" controls type="video/mp4" style="height: 200px;">
       
                <source src="~/Content/videos/nutrition1.mp4" type="video/mp4">
             </video>
            
          </div>
          <div class="col-md-3"  style="min-height: 500px;margin-left: 3%;" id="plans">
            <video src="~/Content/videos/nutrition2.mp4" controls type="video/mp4" style="height: 200px;">
       
                <source src="~/Content/videos/nutrition2.mp4" type="video/mp4">
             </video>
          </div>
          <div class="col-md-3"  style="min-height: 500px;margin-left: 3%;" id="plans">
            <video src="~/Content/videos/yoga3.mp4" controls type="video/mp4" style="height: 200px;">
       
                <source src="~/Content/videos/yoga3.mp4" type="video/mp4">
             </video>
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3" style="min-height: 500px;margin-left: 3%;" id="plans">
            <video src="~/Content/videos/yoga1.mp4" controls type="video/mp4" style="height: 200px;">
       
                <source src="~/Content/videos/yoga1.mp4" type="video/mp4">
             </video>
            
          </div>
          <div class="col-md-3"  style="min-height: 500px;margin-left: 3%;" id="plans">
            <video src="~/Content/videos/yoga2.mp4" controls type="video/mp4" style="height: 200px;">
       
                <source src="~/Content/videos/yoga2.mp4" type="video/mp4">
             </video>
          </div>
          <div class="col-md-3"  style="min-height: 500px;margin-left: 3%;" id="plans">
            <video src="~/Content/videos/yoga3.mp4" controls type="video/mp4" style="height: 200px;">
       
                <source src="~/Content/videos/yoga3.mp4" type="video/mp4">
             </video>
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3" style="min-height: 500px; margin-left: 10%;" id="plans">
            <video src="~/Content/videos/yoga1.mp4" controls type="video/mp4" style="height: 200px;">
       
                <source src="~/Content/videos/yoga1.mp4" type="video/mp4">
             </video>
            
          </div>
          <div class="col-md-3"  style="min-height: 500px;margin-left: 3%;" id="plans">
            <video src="~/Content/videos/yoga2.mp4" controls type="video/mp4" style="height: 200px;">
       
                <source src="~/Content/videos/yoga2.mp4" type="video/mp4">
             </video>
          </div>
          <div class="col-md-3"  style="min-height: 500px;margin-left: 3%;" id="plans">
            <video src="~/Content/videos/yoga3.mp4" controls type="video/mp4" style="height: 200px;">
       
                <source src="~/Content/videos/yoga3.mp4" type="video/mp4">
             </video>
          </div>
          <div class="col-md-1"></div>
        </div>
    </div>
    </div>




        
      
    </div>
    
